{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}}]
      ]
    },
    "build": {
       "presets": [
          ["es2015-rollup"]
        ]
     }
  }
}
